@import "../theme-color.scss";
$themeRadius: 6px;

.packery-item {
  background-color: $textPrimary;
  margin: 1%;
  border-radius: $themeRadius;
  div:not(.mu-slider-thumb):last-child {
    border-radius: 0 0 $themeRadius $themeRadius;
  }
}
.packery-item.half-size {
  width: 50%;
  float: left;
}
.packery-item.small {
  width: 48%;
}
.packery-item.large {
  width: 98%;
}

.packery-item .cmd::after,
.cmds-data::before {
  content: "";
  clear: both;
  display: block;
}

.cmds-icon,
.cmds-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  padding: 0.5rem;
}
.cmds-icon:empty,
.cmds-button:empty {
    padding: 0;
}

.cmds-icon {
  .cmd.icon {
    min-width: 25%;
    display: flex;
    text-align: center;
    flex: 1 0 auto;
    align-items: center;
    margin: 5px 0;
  }
  .cmd.icon > i {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }
  .info-cmd > i,
  .info-cmd > span > i {
    font-size: 2rem;
    margin: 0.5rem;
  }
  .info-cmd {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .cmd.icon > i {
    display: block;
    text-align: center;
  }
}

.cmds-button {
  text-align: center;
  overflow: hidden;
  .cmd {
    display: flex;
    flex: 1 0 auto;
    margin: 0.2rem;
    max-width: 98%;
  }
  button {
    width: 100%;
  }
}
.cmds-button::after {
  content: "";
  clear: both;
}

.cmds-data {
  .cmd {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    line-height: 2.5rem;
    i {
      line-height: 2.5rem;
      margin-top: 0;
    }
  }
  .cmd:nth-child(odd) {
    background-color: $info;
  }
  .mu-slider {
    width: auto;
    margin: -0.6rem 0.6rem 0 0.6rem;
    height: 2.5rem;
    color: $primary;
  }
  .mu-slider-thumb {
    width: 20px;
    height: 20px;
  }
  .line-icon {
    width: 1rem;
    display: inline-block;
    text-align: center;
  }
}

.widget-title {
  position: relative;
  width: 100%;
  background-color: $primary;
  color: $textPrimary;
  font-size: 1rem;
  text-transform: uppercase;
  height: 2.8rem;
  line-height: 2.8rem;
  margin-bottom: 0;
  border-radius: $themeRadius $themeRadius 0 0;

  .title {
    margin-left: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    display: block;
  }

  .actions {
    line-height: 2.8rem;
  }

  span.title {
    position: absolute;
    left: 0;
  }

  button {
    padding: 0 0 0 0.5rem;
    height: 2.8rem;
    width: auto;
    background-color: $primary;
    i {
      font-size: 1.3rem;
    }
  }
  button:first-child {
    margin-right: 0.7rem;
  }
}

.mu-grid-tile {
  border-radius: $themeRadius;
  background-color: $textPrimary;
}
.mu-grid-tile-titlebar {
  background-color: $primary !important;
  border-radius: 0 0 $themeRadius $themeRadius;
}
.mu-grid-tile-title span {
  display: block;
  text-align: center;
  padding: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mu-grid-tile-title-container {
  margin: 0 !important;
}
.mu-raised-button {
  height: 45px !important;
  border-radius: $themeRadius !important;
}
.mu-expansion-panel__expand .mu-expansion-panel-header {
  min-height: 48px !important;
}
.mu-expansion-panel-header {
  padding: 0 15px !important;
}
.mu-icon-left {
  margin-right: 8px !important;
}
.mu-expansion-panel-content {
  padding: 8px 18px 24px !important;
}
.mu-bottom-nav {
  -webkit-box-shadow: 0px -4px 17px -5px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px -4px 17px -5px rgba(0,0,0,0.58);
  box-shadow: 0px -4px 17px -5px rgba(0,0,0,0.58);
}

.battery-text {
  font-size: 0.6rem;
  word-break: break-word;
  max-width: 14px;
  margin-right: -4px;
}
